* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* colors */
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__top {
  padding: 20px 0;
  background: #1D2F30;
}
.header__bottom {
  padding: 115px 0;
}
.header__inner {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__logo {
  margin-right: 10%;
}
.header__menu {
  flex-grow: 1;
}
.header__control {
  margin-left: 15%;
  width: 10%;
  min-width: 50px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .header__logo {
    margin-right: 10px;
  }
  .header__control {
    margin-left: 10px;
  }
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.menu__link {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-wrap: nowrap;
}

.intro {
  position: relative;
}
.intro__inner {
  width: 60%;
  color: #fff;
}
.intro__title {
  font-family: "Cormorant", serif;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
}
.intro__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 16px 0;
}

.main {
  background-color: #1D2F30;
  padding: 60px 0;
}
.main__cards {
  margin-bottom: 55px;
}

.cards__content {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.cards__item {
  flex: 1 1 0;
}
.cards__pagination {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid #0B1919;
  display: flex;
  flex-direction: column;
}
.card__header {
  height: 180px;
  position: relative;
  padding: 16px;
  background-color: #0B1919;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__pointer {
  font-family: "Cormorant", serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.9rem;
  position: absolute;
  top: 16px;
  left: 16px;
  color: #899D9D;
  border: 1px solid #899D9D;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.card__picture {
  display: block;
}
.card__content {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.card__title {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #fff;
}
.card__text {
  flex-grow: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #899D9D;
}

.new-artf__title {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 4.8rem;
  line-height: 1;
  color: #fff;
  margin-bottom: 30px;
}
.new-artf__content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.new-artf__picture {
  width: 73%;
}
.new-artf__img {
  width: 100%;
  display: block;
}
.new-artf__description {
  width: 23%;
}

.description {
  background-color: #BAE249;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.description__header {
  margin-bottom: 10px;
}
.description__title {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #1D2F30;
}
.description__content {
  flex-grow: 1;
  margin-bottom: 8px;
}
.description__paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #506829;
  margin-bottom: 2.4rem;
}
.description__paragraph:last-child {
  margin-bottom: 0;
}

.footer__subscription {
  background: url(../images/footer/bg-f.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}

.subscription {
  position: relative;
}
.subscription__title {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 4.8rem;
  font-size: 1;
  color: #fff;
  margin-bottom: 16px;
}
.subscription__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-size: 1.5;
  color: #fff;
  max-width: 825px;
  margin-bottom: 24px;
}
.subscription__form {
  max-width: 350px;
}

.socials {
  background: #1D2F30;
}

/* UI */
/* links */
.link {
  color: #fff;
  text-decoration: none;
  padding: 0 7px;
  transition: color 0.2s linear;
}
.link:hover {
  color: #BAE249;
}
.link:focus {
  outline: 1px solid #83A440;
}
.link:active {
  color: #688B05;
}

.link-icon {
  background: none;
  padding: 1px;
}
.link-icon svg {
  width: 24px;
  height: 24px;
  display: block;
}
.link-icon path {
  transition: stroke 0.2s linear;
  stroke: #BAE249;
}
.link-icon:hover path {
  stroke: #91AC46;
}
.link-icon:focus {
  outline: 1px solid #83A440;
}
.link-icon:focus path {
  stroke: #BAE249;
}
.link-icon:active path {
  stroke: #688B05;
}

/* buttons */
.btn-explore {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: none;
  text-decoration: none;
  color: #BAE249;
  display: inline-flex;
  align-items: center;
  padding: 0 5px;
  border: none;
  cursor: pointer;
  transition: color 0.2s linear, padding 0.2s linear;
}
.btn-explore__title {
  margin-right: 5px;
}
.btn-explore__arrow {
  transition: transform 0.2s linear;
  transform-origin: 0 0;
}
.btn-explore path {
  transition: fill 0.2s linear;
}
.btn-explore:hover {
  color: #91AC46;
}
.btn-explore:hover .btn-explore__arrow {
  transform: scaleX(1.23);
}
.btn-explore:hover .btn-explore__arrow path {
  fill: #91AC46;
}
.btn-explore:focus {
  outline: 1px solid #83A440;
}
.btn-explore:active {
  color: #688B05;
  outline: none;
  padding-right: 5px;
}
.btn-explore:active .btn-explore__arrow {
  transform: scaleX(1);
}
.btn-explore:active .btn-explore__arrow path {
  fill: #688B05;
}
.btn-explore:disabled {
  color: #899D9D;
  pointer-events: none;
}
.btn-explore:disabled path {
  fill: #899D9D;
}

.btn-more {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #BAE249;
  background: none;
  border: 1px solid #BAE249;
  padding: 9px 27px;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
}
.btn-more:hover {
  background-color: #BAE249;
  color: #0B1919;
}
.btn-more:focus {
  outline: 1px solid #83A440;
  outline-offset: 3px;
}
.btn-more:active {
  background-color: #688B05;
  border-color: #688B05;
  color: #0B1919;
}
.btn-more:disabled {
  color: gray;
  border-color: gray;
  pointer-events: none;
}

.btn-all {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #0B1919;
  cursor: pointer;
  transition: color 0.2s linear;
}
.btn-all svg {
  transform: scaleX(1);
  transform-origin: 0 0;
  transition: transform 0.2s linear;
}
.btn-all path {
  fill: #0B1919;
  transition: fill 0.2s linear;
}
.btn-all__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: inherit;
}
.btn-all:focus {
  outline: 1px solid #83A440;
  outline-offset: 3px;
}
.btn-all:hover {
  outline: none;
  color: #688B05;
}
.btn-all:hover path {
  fill: #688B05;
}
.btn-all:hover svg {
  transform: scaleX(1.23);
}
.btn-all:active {
  outline: none;
  color: #0B1919;
}
.btn-all:active path {
  fill: #0B1919;
}
.btn-all:active svg {
  transform: scaleX(1);
}
.btn-all:disabled {
  pointer-events: none;
  color: #899D9D;
}
.btn-all:disabled path {
  fill: #899D9D;
}

.btn-submit {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 700;
  color: #0B1919;
  border: none;
  background: #BAE249;
  padding: 12px 26px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.btn-submit:hover {
  background-color: #91AC46;
}
.btn-submit:focus {
  outline: 1px solid #83A440;
  outline-offset: 2px;
}
.btn-submit:active {
  outline: none;
  background-color: #688B05;
}
.btn-submit:disabled {
  pointer-events: none;
  color: #1D2F30;
  background-color: #899D9D;
}

/* pagination */
.pagination {
  display: flex;
  gap: 30px;
  align-items: center;
}
.pagination__info {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #fff;
  text-wrap: nowrap;
}
.pagination__prev {
  transform-origin: 100%;
}
.pagination__next {
  transform-origin: 0;
}
.pagination__btn {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.pagination__btn svg {
  display: block;
}
.pagination__btn svg path {
  transition: fill 0.2s linear;
}
.pagination__btn:hover {
  transform: scaleX(1.4);
}
.pagination__btn:hover path {
  fill: #BAE249;
}
.pagination__btn:focus {
  outline: 1px solid #83A440;
  outline-offset: 3px;
}
.pagination__btn:active {
  outline: none;
}
.pagination__btn:active path {
  fill: #688B05;
}

/* forms */
.form-subscription {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
.form-subscription__input {
  width: 100%;
}
.form-subscription__row {
  width: 100%;
  position: relative;
}
.form-subscription__tooltip {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #E24949;
  position: absolute;
  top: 0;
  left: 16px;
  z-index: 99;
  transform: translateY(-100%);
  display: none;
}
.form-subscription__input:invalid + .form-subscription__tooltip {
  display: block;
}

.input-subscription {
  background-color: #fff;
  padding: 10px 16px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s linear;
}
.input-subscription::placeholder {
  transition: color 0.2s linear;
}
.input-subscription:hover {
  background: #899D9D;
}
.input-subscription:hover::placeholder {
  color: #fff;
}
.input-subscription:focus {
  background: #fff;
  outline: 1px solid #83A440;
  outline-offset: 2px;
}
.input-subscription:disabled {
  pointer-events: none;
  background-color: #899D9D;
}
.input-subscription:invalid {
  outline-color: #E24949;
  outline-width: 2px;
  outline-offset: -2px;
}

/* effects */
.obscure {
  position: relative;
}
.obscure::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 47, 48, 0.7);
}

/*# sourceMappingURL=main.css.map */
