* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* colors */
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__top {
  padding: 20px 0;
  background: #1D2F30;
}
.header__bottom {
  padding: 115px 0;
}
.header__inner {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__logo {
  margin-right: 10%;
}
.header__menu {
  flex-grow: 1;
}
.header__control {
  margin-left: 15%;
  width: 10%;
  min-width: 50px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .header__logo {
    margin-right: 10px;
  }
  .header__control {
    margin-left: 10px;
  }
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.menu__link {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-wrap: nowrap;
}

.intro {
  position: relative;
}
.intro__inner {
  width: 60%;
  color: #fff;
}
.intro__title {
  font-family: "Cormorant", serif;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
}
.intro__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 16px 0;
}

.main {
  background-color: #1D2F30;
  padding: 60px 0;
}

.cards__content {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.cards__item {
  flex: 1 1 0;
}
.cards__pagination {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid #0B1919;
  display: flex;
  flex-direction: column;
}
.card__header {
  height: 180px;
  position: relative;
  padding: 16px;
  background-color: #0B1919;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__pointer {
  font-family: "Cormorant", serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.9rem;
  position: absolute;
  top: 16px;
  left: 16px;
  color: #899D9D;
  border: 1px solid #899D9D;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.card__picture {
  display: block;
}
.card__content {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.card__title {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #fff;
}
.card__text {
  flex-grow: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #899D9D;
}

/* UI */
/* links */
.link {
  color: #fff;
  text-decoration: none;
  padding: 0 7px;
  transition: color 0.2s linear;
}
.link:hover {
  color: #BAE249;
}
.link:focus {
  outline: 1px solid #83A440;
}
.link:active {
  color: #688B05;
}

.link-icon {
  background: none;
  padding: 1px;
}
.link-icon svg {
  width: 24px;
  height: 24px;
  display: block;
}
.link-icon path {
  transition: stroke 0.2s linear;
  stroke: #BAE249;
}
.link-icon:hover path {
  stroke: #91AC46;
}
.link-icon:focus {
  outline: 1px solid #83A440;
}
.link-icon:focus path {
  stroke: #BAE249;
}
.link-icon:active path {
  stroke: #688B05;
}

/* buttons */
.btn-explore {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: none;
  text-decoration: none;
  color: #BAE249;
  display: inline-flex;
  align-items: center;
  padding: 0 5px;
  border: none;
  cursor: pointer;
  transition: color 0.2s linear, padding 0.2s linear;
}
.btn-explore__title {
  margin-right: 5px;
}
.btn-explore__arrow {
  transition: transform 0.2s linear;
  transform-origin: 0 0;
}
.btn-explore path {
  transition: fill 0.2s linear;
}
.btn-explore:hover {
  color: #91AC46;
}
.btn-explore:hover .btn-explore__arrow {
  transform: scaleX(1.23);
}
.btn-explore:hover .btn-explore__arrow path {
  fill: #91AC46;
}
.btn-explore:focus {
  outline: 1px solid #83A440;
}
.btn-explore:active {
  color: #688B05;
  outline: none;
  padding-right: 5px;
}
.btn-explore:active .btn-explore__arrow {
  transform: scaleX(1);
}
.btn-explore:active .btn-explore__arrow path {
  fill: #688B05;
}
.btn-explore:disabled {
  color: #899D9D;
  pointer-events: none;
}
.btn-explore:disabled path {
  fill: #899D9D;
}

.btn-card {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #BAE249;
  background: none;
  border: 1px solid #BAE249;
  padding: 9px 27px;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
}
.btn-card:hover {
  background-color: #BAE249;
  color: #0B1919;
}
.btn-card:focus {
  outline: 1px solid #83A440;
  outline-offset: 3px;
}
.btn-card:active {
  background-color: #688B05;
  border-color: #688B05;
  color: #0B1919;
}
.btn-card:disabled {
  color: gray;
  border-color: gray;
  pointer-events: none;
}

/* pagination */
.pagination {
  display: flex;
  gap: 30px;
  align-items: center;
}
.pagination__info {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #fff;
  text-wrap: nowrap;
}
.pagination__prev {
  transform-origin: 100%;
}
.pagination__next {
  transform-origin: 0;
}
.pagination__btn {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.pagination__btn svg {
  display: block;
}
.pagination__btn svg path {
  transition: fill 0.2s linear;
}
.pagination__btn:hover {
  transform: scaleX(1.4);
}
.pagination__btn:hover path {
  fill: #BAE249;
}
.pagination__btn:focus {
  outline: 1px solid #83A440;
  outline-offset: 3px;
}
.pagination__btn:active {
  outline: none;
}
.pagination__btn:active path {
  fill: #688B05;
}

/* effects */
.obscure {
  position: relative;
}
.obscure::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 47, 48, 0.7);
}

/*# sourceMappingURL=main.css.map */
