* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

$open-sans: 'Open Sans', sans-serif;
$cormorant: 'Cormorant', serif;

/* colors */
$white: #fff;
$gray: #899D9D;
$bg-color: #1D2F30;
$bg-shade-color: #0B1919;
$green-text: #506829;
$primary-green: #BAE249;
$green-active-click: #688B05;
$green-focus: #83A440;
$green-hover: #91AC46;
$red: #E24949;


.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__top {
    padding: 20px 0;
    background: $bg-color;
  }

  &__bottom {
    padding: 115px 0;
  }

  &__inner {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__logo {
    margin-right: 10%;
  }

  &__menu {
    flex-grow: 1;
  }

  &__control {
    margin-left: 15%;
    
    width: 10%;
    min-width: 50px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }

  @media (max-width: 650px) {
    &__logo {
      margin-right: 10px;
    }

    &__control {
      margin-left: 10px;
    }
  }
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-around;



  &__link {
    font-family: $open-sans;
    font-size: 16px;
    font-weight: 400;
    text-wrap: nowrap;
  }
}

.intro {
  position: relative;

  &__inner {
    width: 60%;
    color: $white;
  }

  &__title {
    font-family: $cormorant;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
  }

  &__text {
    font-family: $open-sans;
    font-size: 16px;
    line-height: 1.5;
    margin: 16px 0;
  }
}

.main {
  background-color: $bg-color;
  padding: 60px 0;
}

.cards {

  &__content {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }

  &__item {
    flex: 1 1 0;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid $bg-shade-color;

  display: flex;
  flex-direction: column;

  &__header {
    height: 180px;
    position: relative;
    padding: 16px;
    background-color: $bg-shade-color;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pointer {
    font-family: $cormorant;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.9rem;

    position: absolute;
    top: 16px;
    left: 16px;

    color: $gray;
    border: 1px solid $gray;
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }

  &__picture {
    display: block;
  }

  &__content {
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  &__title {
    font-family: $cormorant;
    font-weight: 700;
    font-size: 2.4rem;
    color: $white;
  }
  
  &__text {
    flex-grow: 1;
    font-family: $open-sans;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $gray;
  }
}


/* UI */

/* links */

.link {
  color: $white;
  text-decoration: none;
  padding: 0 7px;

  transition: color .2s linear;
  
  &:hover {
    color: $primary-green;
  }

  &:focus {
    outline: 1px solid $green-focus;
  }

  &:active {
    color: $green-active-click;
  }
}

.link-icon {

  background: none;
  padding: 1px;

  svg {
    width: 24px;
    height: 24px;
    display: block;
  }

  path {
    transition: stroke .2s linear;
    stroke: $primary-green;
  }

  &:hover {
    path {
      stroke: $green-hover;
    }
  }

  &:focus {
    outline: 1px solid $green-focus;
    path {
      stroke: $primary-green;
    }
  }

  &:active {
    path {
      stroke: $green-active-click;
    }
  }
}


/* buttons */

.btn-explore {
  font-family: $open-sans;
  font-weight: 700;
  font-size: 16px;
  background: none;
  text-decoration: none;
  color: $primary-green;

  display: inline-flex;
  align-items: center;
  padding: 0 5px;
  border: none;
  cursor: pointer;

  transition: color .2s linear,
              padding .2s linear;
  
  &__title {
    margin-right: 5px;
  }
  
  &__arrow {
    transition: transform .2s linear;
    transform-origin: 0 0;
  }

  path {
    transition: fill .2s linear;
  }

  &:hover {
    color: $green-hover;
  }

  &:hover &__arrow {
    transform: scaleX(1.23);

    path {
      fill: $green-hover;
    }
  }

  &:focus {
    outline: 1px solid $green-focus;
  }

  &:active {
    color: $green-active-click;
    outline: none;
    padding-right: 5px;
  }

  &:active &__arrow {
    transform: scaleX(1);
    path {
      fill: $green-active-click;
    }
  }

  &:disabled {
    color: $gray;
    pointer-events: none;
    

    path {
      fill: $gray;
    }
  }
}

.btn-card {
  font-family: $open-sans;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $primary-green;
  background: none;
  border: 1px solid $primary-green;
  padding: 9px 27px;
  cursor: pointer;

  transition: color .2s linear,
              background-color .2s linear,
              border-color .2s linear;

  &:hover {
    background-color: $primary-green;
    color: $bg-shade-color;
  }

  &:focus {
    outline: 1px solid $green-focus;
    outline-offset: 3px;
  }

  &:active {
    background-color: $green-active-click;
    border-color: $green-active-click;
    color: $bg-shade-color;
  }

  &:disabled {
    color: gray;
    border-color: gray;
    pointer-events: none;
  }
}

/* pagination */

.pagination {
  display: flex;
  gap: 30px;
  align-items: center;

  &__info {
    font-family: $cormorant;
    font-weight: 700;
    font-size: 2.4rem;
    color: $white;
    text-wrap: nowrap;
  }
  
  &__prev {
    transform-origin: 100%;
  }

  &__next {
    transform-origin: 0;
  }
  
  &__btn {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform .2s linear;

    svg {
      display: block;

      path {
        transition: fill .2s linear;
      }
    }


    &:hover {
      path {
        fill: $primary-green;
      }
      transform: scaleX(1.4);
    }

    &:focus {
      outline: 1px solid $green-focus;
      outline-offset: 3px;
    }

    &:active {
      outline: none;
      path {
        fill: $green-active-click;
      }
    }
  }
}


/* effects */

.obscure {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 47, 48, .7);
  }
}

