* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

$open-sans: 'Open Sans', sans-serif;
$cormorant: 'Cormorant', serif;

/* colors */
$bg-gray: #1D2F30;

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__top {
    padding: 20px 0;
    background: #1D2F30;
  }

  &__bottom {
    padding: 115px 0;
  }

  &__inner {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__logo {
    margin-right: 10%;
  }

  &__menu {
    flex-grow: 1;
  }

  &__control {
    margin-left: 15%;
    
    width: 10%;
    min-width: 50px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }

  @media (max-width: 650px) {
    &__logo {
      margin-right: 10px;
    }

    &__control {
      margin-left: 10px;
    }
  }
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-around;



  &__link {
    font-family: $open-sans;
    font-size: 16px;
    font-weight: 400;
    text-wrap: nowrap;
  }
}

.intro {
  position: relative;

  &__inner {
    width: 60%;
    color: #fff;
  }

  &__title {
    font-family: $cormorant;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
  }

  &__text {
    font-family: $open-sans;
    font-size: 16px;
    line-height: 1.5;
    margin: 16px 0;
  }
}

.main {
  background-color: $bg-gray;
  padding: 60px 0;
}

.cards {

  &__content {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }

  &__item {
    flex: 1 1 0;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}

.card {
  height: 493px;
  width: 100%;
  border: 1px solid #0B1919;
}


/* UI */

/* links */

.link {
  color: #fff;
  text-decoration: none;
  padding: 0 7px;

  transition: color .2s linear;
  
  &:hover {
    color: #BAE249;
  }

  &:focus {
    outline: 1px solid #83A440;
  }

  &:active {
    color: #688B05;
  }
}

.link-icon {

  background: none;
  padding: 1px;

  svg {
    width: 24px;
    height: 24px;
    display: block;
  }

  path {
    transition: stroke .2s linear;
    stroke: #BAE249;
  }

  &:hover {
    path {
      stroke: #91AC46;
    }
  }

  &:focus {
    outline: 1px solid #83A440;
    path {
      stroke: #BAE249;
    }
  }

  &:active {
    path {
      stroke: #688B05;
    }
  }
}


/* buttons */

.btn-explore {
  font-family: $open-sans;
  font-weight: 700;
  font-size: 16px;
  background: none;
  text-decoration: none;
  color: #BAE249;

  display: inline-flex;
  align-items: center;
  padding: 0 5px;
  border: none;
  cursor: pointer;

  transition: color .2s linear,
              padding .2s linear;
  
  &__title {
    margin-right: 5px;
  }
  
  &__arrow {
    transition: transform .2s linear;
    transform-origin: 0 0;
  }

  path {
    transition: fill .2s linear;
  }

  &:hover {
    color: #91AC46;
  }

  &:hover &__arrow {
    transform: scaleX(1.23);

    path {
      fill: #91AC46;
    }
  }

  &:focus {
    outline: 1px solid #83A440;
  }

  &:active {
    color: #688B05;
    outline: none;
    padding-right: 5px;
  }

  &:active &__arrow {
    transform: scaleX(1);
    path {
      fill: #688B05;
    }
  }

  &:disabled {
    color: #899D9D;
    pointer-events: none;
    

    path {
      fill: #899D9D;
    }
  }
}

/* pagination */

.pagination {
  display: flex;
  gap: 30px;
  align-items: center;

  &__info {
    font-family: $cormorant;
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
    text-wrap: nowrap;
  }
  
  &__prev {
    transform-origin: 100%;
  }

  &__next {
    transform-origin: 0;
  }
  
  &__btn {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform .2s linear;

    svg {
      display: block;

      path {
        transition: fill .2s linear;
      }
    }


    &:hover {
      path {
        fill: #BAE249;
      }
      transform: scaleX(1.4);
    }

    &:focus {
      outline: 1px solid #83A440;
      outline-offset: 3px;
    }

    &:active {
      outline: none;
      path {
        fill: #688B05;
      }
    }
  }
}


/* effects */

.obscure {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(29, 47, 48, .7);
  }
}

